<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Geologiya.Properties.Settings.GeolodiyaConnectionString" connectionString="Data Source=C4\SERVER1;Initial Catalog=Geolodiya;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="Geologiya.Properties.Settings.GeolodiyaConnectionString1" connectionString="Data Source=C4\SERVER1;Initial Catalog=Geolodiya;User ID=sa;Password=123" providerName="System.Data.SqlClient"/>
        <add name="Geologiya.Properties.Settings.GeolodiyaConnectionString2" connectionString="Data Source=HOME\HOMESERVER;Initial Catalog=Geolodiya;User ID=sa" providerName="System.Data.SqlClient"/>
        <add name="Geologiya.Properties.Settings.GeologiyaConnectionString" connectionString="Data Source=C4\SERVER1;Initial Catalog=Geologiya;Integrated Security=True" providerName="System.Data.SqlClient"/>
        <add name="Geologiya.Properties.Settings.GEOLOGIYAConnectionString1" connectionString="Data Source=C4\SERVC4;Initial Catalog=GEOLOGIYA;Integrated Security=True" providerName="System.Data.SqlClient"/>
    </connectionStrings>
<startup><supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/></startup></configuration>
